{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <span>Почта: {{ ctx_context.email }}<br></span>
        <span>Имя: {{ ctx_context.first_name }}<br></span>
        <span>Фамилия: {{ ctx_context.last_name }}<br></span>
        <a href="/auths/edit">edit</a>
        <a href="/auths/change-password">change password</a>        
    </form>
</body>
</html>