{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ ctx_form.as_p }}
        Почта: {{ ctx_context.email }}<br>
        Имя: {{ ctx_context.first_name }}<br>
        Фамилия: {{ ctx_context.last_name }}<br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>